<h1>Listing reasons</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reasons.each do |reason| %>
  <tr>
    <td><%= reason.name %></td>
    <td><%= link_to 'Show', reason %></td>
    <td><%= link_to 'Edit', edit_reason_path(reason) %></td>
    <td><%= link_to 'Destroy', reason, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reason', new_reason_path, if current_user.has_role? :admin %>
